<h1>Create Page</h1>
<div class="col-xs-12 col-sm-6 col-md-8">
  <form method= "post" action="/new">
    <div class="form-group">
      <label>Song Title:</label>
      <input class="form-control" type="text" name="song_title" placeholder="Song Title"><br /> 
    </div>
    <div class="form-group">
      <label>Author:</label>
      <input class="form-control" type="text" name="author" placeholder="Author"><br />
    </div>
    <div class="form-group">
      <label>Url:</label> 
      <input class="form-control" type="text" name="url" placeholder="Url"><br />
    </div>
    <div class="form-group">
      <input class="btn btn-default" type="submit" value="Create!">
    </div>
  </form>
</div>