<h1>Create Page</h1>

<form method= "post" action="/new">
Song Title: <input type="text" name="song_title"><br /> 
Author: <input type="text" name="author"><br />
Url: <input type="text" name="url"><br />
<input type="submit" value="Create!">
</form>