<div class="container">
  <div class="jumbotron">
  <h1>Music Wall</h1>
  <p>...</p>
  <p>
    <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up</a>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Sign In</a>
  </p>
</div>
</div>